refinedet_output/
ssd_output/
result/
demo/
ssd300_120000/
weights/*
!weights/.gitkeep
logs/*
!logs/.gitkeep
eval/
__pycache__
checkpoints/*
!checkpoints/.gitkeep
.idea/
data/dataset/*
!data/dataset/.gitkeep
detection/*
!detection/.gitkeep
